@import './normalize.css';
@import './base.css';

/* Ant custom css */
.ant-card {
  border: none;
}

.anticon svg {
  display: block !important;
}

.ant-select-selection-item-remove {
  display: none;
}

.upload-image-ant .card-image img {
  max-height: 120px;
  object-fit: cover;
}

:where(.css-dev-only-do-not-override-19iuou).ant-select-single.ant-select-lg .ant-select-selector {
  font-size: 15px;
}
:where(.css-dev-only-do-not-override-19iuou).ant-input-affix-wrapper-lg {
  font-size: 15px;
}

:where(.css-dev-only-do-not-override-19iuou).ant-select-multiple.ant-select-lg {
  font-size: 15px;
}

:where(.css-dev-only-do-not-override-19iuou).ant-input-number-lg {
  font-size: 15px;
}

:where(.css-dev-only-do-not-override-19iuou).ant-picker-large .ant-picker-input > input {
  font-size: 15px;
}

:where(.css-dev-only-do-not-override-19iuou).ant-input-lg {
  font-size: 15px;
}
/* Switch */
/* The switch - the box around the slider */
.switch {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 5px;
  left: 0.3em;
  bottom: 0.33333333333em;
  background-color: white;
  transition: 0.2s all ease-in-out;
}

.switch input:checked + .slider {
  background-color: green;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

/* Checkbox */

/* Hide the default checkbox */
/* Hide the default checkbox */
.container-cbx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-cbx {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2.3em;
  width: 2.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.4s;
}

.checkmark:hover {
  box-shadow:
    inset 17px 17px 16px #b3b3b3,
    inset -17px -17px 16px #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  box-shadow: none;
  background-color: limegreen;
  transform: rotateX(360deg);
}

.container input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.96em;
  top: 0.7em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
}

/* Animation custom */

.pulse {
  cursor: pointer;
  display: block;
  animation: pulse-danger ease-in-out 2s infinite;
}
@keyframes pulse-danger {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  75% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 4s ease-in-out both;
  animation: rotate-center 4s ease-in-out both infinite;
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

/* Quill */
.ql-editor {
  min-height: 200px;
  max-height: 1000px !important;
}
