VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
VITE_BASE_URL=http://127.0.0.1:5173
VITE_LARAVEL_URL=http://127.0.0.1:8000
VITE_NUXT_URL=http://127.0.0.1:3000/
VITE_API_AI_GENERATE_TEXT=http://127.0.0.1:8787/
VITE_REFRESHTOKEN_EXPIRES=7

VITE_PUSHER_APP_KEY=d6a0a97610cef6b1cc18
VITE_PUSHER_APP_CLUSTER=ap1

VITE_RECAPTCHA_SITE_KEY=6LeTvFQqAAAAANMjlJgN62JT_qT52OWs3rgqXkaL

